{
	"singleQuote": true,
	"jsxSingleQuote": true,
	"semi": false,
	"trailingComma": "es5",
	"useTabs": true,
	"tabWidth": 2,
	"importOrder": [
		"^components/?(.*)$",
		"^data/?(.*)$",
		"^lib/?(.*)$",
		"^styles/?(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
